<h1>Bienvenue sur Eventbrite-clone, <%= @user.email %> !</h1>
<p>
  Nous sommes heureux de te compter parmi nous. Tu peux te connecter à ton compte en cliquant sur le lien suivant :
</p>
<p><%= link_to 'Connexion', @url %></p>
<p>À bientôt sur Eventbrite-clone !</p>
